@model TecnoBlog.Business.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>
    </dl>
    <hr />
    <img src="https://fixmywp.com/wp-content/uploads/2017/01/website-hacked.jpg" width="100%" />
    <br />
    <br />
    @Html.Raw(Model.Content)
    <div name="comments" style="padding: 3em;">
        <hr />
        <h3>Comments</h3>
        <br />
        @Html.Action("Index", "Comment", new { articleId = Model.Id })
        <hr />
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Action("Create", "Comment", new { articleId = Model.Id })
        }
    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

